{% extends 'app2/base.html' %}
{% block title %}{{ view.object|default:'Create' }} Farm{% endblock %}
{% block content %}
<a href="{% url 'App2:profile' %}" class="btn btn-secondary mb-3">← Back to Dashboard</a>
<div class="form-card">
<h2>{{ view.object|default:'Create' }} Farm</h2>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
            <div class="form-group">
                <label>{{ field.label_tag }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="text-danger">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn-primary">Save</button>
</form>
<a href="{% url 'App2:farm-list' %}" class="btn">← Back to Farms</a
{% endblock %}
